app-view-reservation {
  display: flex;
  flex-direction: column;
  height: 100%!important;
  .mat-tab-group {
    display: flex;
    flex-direction: column;
    height: 100%!important;
    flex-grow: 1;
    .mat-tab-body-wrapper {
      display: flex;
      flex-grow: 1;
      flex-grow: 1;
      height: 100%!important;
      .mat-tab-body {
        display: flex;
        flex-grow: 1;
        height: 100%;
        flex-direction: column;
        .mat-tab-body-content {
          display: flex;
          flex-grow: 1;
          height: 100%;
          flex-direction: column;
          .page-view-container {
            &.details {
              .action-section {
                mat-divider {
                  margin: 10px 0!important;
                }
                .action-header-text {
                  margin: 0!important;
                }
                .action-menu {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  &:first-child {
                    li {
                      &:first-child {
                        margin-top: 0;
                      }
                    }

                  }
                  li {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    &:first-child {
                      margin-top: 10px;
                    }
                    button {
                      .button-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        span {
                          flex-grow: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.items {
              mat-card {
                table{
                  width: 100%;
                 }
                
                 mat-table {
                  thead {
                   th {
                    .mat-cell {
                     word-wrap: break-word !important;
                     white-space: unset !important;
                     overflow-wrap: break-word;
                     word-wrap: break-word;
                     word-break: break-word;
                     -ms-hyphens: auto;
                     -moz-hyphens: auto;
                     -webkit-hyphens: auto;
                     hyphens: auto;
                    }
                   }
                  }
                
                  tbody {
                    td {
                     .mat-cell {
                      word-wrap: break-word !important;
                      white-space: unset !important;
                      overflow-wrap: break-word;
                      word-wrap: break-word;
                      word-break: break-word;
                      -ms-hyphens: auto;
                      -moz-hyphens: auto;
                      -webkit-hyphens: auto;
                      hyphens: auto;
                     }
                    }
                   }
                 }
                
                 .mat-column-orderItemType {
                  flex: 0 0 20% !important;
                  width: 20% !important;
                 }
                
                 .mat-column-quantity {
                  flex: 0 0 20% !important;
                  width: 20% !important;
                 }
                
                 .mat-column-remarks {
                  flex: 0 0 60% !important;
                  width: 60% !important;
                 }
                
                
                 .mat-column-controls {
                   flex: 0 0 1% !important;
                   width: 1% !important;
                   padding-right: 0!important;
                 }
                
                 @media only screen and (max-width: 414px) {
                  .mat-column-remarks {
                    display: none!important;
                   }
                 }
                
                 .table-no-data {
                  background-color: #ECEFF1;
                  padding: 20px;
                  color: #424242 !important;
                  span {
                    text-align: left;
                    font-size: 15px!important;
                  }
                }
                
              }
            }
          }
        }
      }
    }
  }
}
.page-view-container {
}

.schedule-dialog {
  max-width: 500px!important;
  width: 500px!important;
}

.select-timeslot-dialog {
  max-width: 500px!important;
  width: 500px!important;
}


.payment-dialog {
  max-width: 500px!important;
  width: 500px!important;
}


.mat-tab-content-0-1 {

}
