
.payment-dialog {
    min-height: 720px!important;
    mat-dialog-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        app-print-dialog {
            display: flex;
            flex-direction: column;
            min-height: 100%!important;
            width: 100%;
            height: 100%!important;
            flex-grow: 1;
            position: relative;
            iframe {
                display: flex;
                width: 100%!important;
                height: 100%;
                flex-grow: 1;
                border: 1px solid #ddd;
                border-radius: 3px;
            }
            .print-button {
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
        }
    }
}